/* font-family: 'Gelasio', serif; */
html, body {
  width: 100%;
  height: auto;
  background-color: #FFF;
  /* Top navbar style*/
  /* side bar style*/ }
  html .navbar, body .navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 5px 5px -1px #e6e6e6;
    z-index: 999;
    background-color: #FFF;
    height: 70px; }
    html .navbar .menu-toggle, body .navbar .menu-toggle {
      line-height: 0; }
      html .navbar .menu-toggle .menu-toggle-icon, body .navbar .menu-toggle .menu-toggle-icon {
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 1rem;
        color: #FFF;
        background-color: #363435;
        font-weight: 2000; }
    html .navbar .navbar-brand img, body .navbar .navbar-brand img {
      width: 200px;
      height: 50px;
      margin-right: 200px; }
    html .navbar .dashboard-menu a, body .navbar .dashboard-menu a {
      text-decoration: none;
      color: #000;
      padding: 0.2rem;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      position: relative;
      display: inline-block;
      font-family: 'Gelasio', serif; }
  html .top-navbar-icon a, body .top-navbar-icon a {
    color: #000;
    padding: 0.5rem;
    font-size: 24px;
    position: relative;
    display: inline-block; }
    html .top-navbar-icon a input, body .top-navbar-icon a input {
      border: 0.4px solid #e6e6e6;
      width: 150px;
      height: 35px;
      border-radius: 5px;
      overflow: hidden;
      font-size: 16px;
      color: #e6e6e6;
      background-color: #FFF;
      padding: 0.5rem; }
      html .top-navbar-icon a input i, body .top-navbar-icon a input i {
        float: right; }
        html .top-navbar-icon a input i:hover, body .top-navbar-icon a input i:hover {
          color: #46B027; }
  html .container-fluid, body .container-fluid {
    height: 100%;
    width: 100%; }
    html .container-fluid .fixed-nav, body .container-fluid .fixed-nav {
      height: 100%; }
      html .container-fluid .fixed-nav .fixed-nav-inner, body .container-fluid .fixed-nav .fixed-nav-inner {
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #FFF;
        flex: 1;
        z-index: 99;
        box-shadow: 7px 0 7px -2.5px #e6e6e6; }
        html .container-fluid .fixed-nav .fixed-nav-inner ul, body .container-fluid .fixed-nav .fixed-nav-inner ul {
          list-style-type: none;
          padding: 0; }
          html .container-fluid .fixed-nav .fixed-nav-inner ul a, body .container-fluid .fixed-nav .fixed-nav-inner ul a {
            text-decoration: none;
            color: #000;
            display: flex;
            align-items: center;
            font-weight: 400;
            text-transform: uppercase;
            font-family: 'Gelasio', serif; }
            html .container-fluid .fixed-nav .fixed-nav-inner ul a:before, body .container-fluid .fixed-nav .fixed-nav-inner ul a:before {
              content: "";
              opacity: 0;
              width: 0.175rem;
              visibility: hidden;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: fixed; }
            html .container-fluid .fixed-nav .fixed-nav-inner ul a:hover, body .container-fluid .fixed-nav .fixed-nav-inner ul a:hover {
              background-color: #202020;
              transition: all 0.4s;
              box-shadow: outset 0 1px 3px rgba(0, 0, 0, 0.1), outset 0 1px 1px rgba(0, 0, 0, 0.04), outset 0 2px 1px -1px rgba(0, 0, 0, 0.02);
              color: #FFF; }
              html .container-fluid .fixed-nav .fixed-nav-inner ul a:hover:before, body .container-fluid .fixed-nav .fixed-nav-inner ul a:hover:before {
                opacity: 1;
                visibility: visible; }
            html .container-fluid .fixed-nav .fixed-nav-inner ul a li, body .container-fluid .fixed-nav .fixed-nav-inner ul a li {
              padding: 0.25rem 1rem; }
              html .container-fluid .fixed-nav .fixed-nav-inner ul a li i, body .container-fluid .fixed-nav .fixed-nav-inner ul a li i {
                font-size: 1.5rem;
                line-height: 2.8rem; }
              html .container-fluid .fixed-nav .fixed-nav-inner ul a li:nth-child(2n), body .container-fluid .fixed-nav .fixed-nav-inner ul a li:nth-child(2n) {
                font-size: 1rem;
                padding: 0;
                margin-left: 0;
                letter-spacing: 0.05rem;
                width: 0px;
                text-align: left;
                opacity: 0;
                transition: 0.25s ease-in-out width, 0.25s linear transform;
                transform: translateX(2rem); }
        html .container-fluid .fixed-nav .fixed-nav-inner.open-nav li:nth-child(2n), body .container-fluid .fixed-nav .fixed-nav-inner.open-nav li:nth-child(2n) {
          margin: 0;
          padding: 0.25rem 1rem;
          letter-spacing: 0.025rem;
          width: 8.5rem;
          opacity: 1;
          transform: translateX(0.75rem);
          font-size: 12px; }

/* dropdown-menu-space */
section .dropdown-menu-space {
  width: 100%;
  height: 170px;
  margin-top: 70px;
  box-shadow: 0px 5px 5px -1px #e6e6e6;
  padding-left: 100px;
  padding-top: 5px; }

.info-box.info-box-sm {
  min-height: 100px;
  margin-top: 25px;
  font-size: 15px;
  display: inline-flex;
  box-shadow: 0px 5px 15px #d6d0d0; }

.info-box.info-box-sm .info-box-icon {
  height: 100px;
  font-size: 50px;
  line-height: 50px; }

.info-box .info-box-sm .info-box-content {
  height: 100px; }

.info-box .info-box-content .info-box-text {
  padding: 20px;
  font-size: 18px !important;
  text-transform: uppercase;
  font-weight: 600; }

.info-box .info-box-content .info-box-number {
  font-size: 16px !important;
  display: flex;
  margin-left: 30px; }

.info-box.info-box-sm.dropdown {
  float: left;
  height: 100px; }

.info-box.info-box-sm.dropdown .info-box-icon {
  background: #46B027;
  display: inline-flex;
  padding: 20px;
  color: #FFF; }

.info-box.info-box-sm.dropdown .info-box-content {
  width: 215px;
  background: #FFF;
  float: left;
  padding-top: 30px;
  color: #000; }

/*----------------------------------------*/
section .fixed-menu {
  width: 100%;
  background-color: #FFF;
  background: cover;
  box-shadow: 0 5px 5px -1px #e6e6e6;
  margin-top: 20px; }
  section .fixed-menu ul {
    padding-left: 100px; }
    section .fixed-menu ul li {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-family: 'Gelasio', serif;
      color: #363435;
      font-weight: 200; }

/*-------------first table upadates style---------------*/
.firstpage-firsttable-updates {
  padding-left: 85px;
  padding-right: 15px;
  text-decoration: none; }
  .firstpage-firsttable-updates h4 {
    text-decoration: none;
    font-family: 'Gelasio', serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #000;
    text-transform: uppercase; }

.firstpage-firsttable-updates h4 span {
  color: #46B027; }

.firstpage-firsttable-updates table {
  font-weight: 600;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #FFF;
  color: #000;
  font-family: 'Gelasio', serif;
  box-shadow: 0px 5px 15px #d6d0d0; }
  .firstpage-firsttable-updates table td, .firstpage-firsttable-updates table th {
    border: none !important; }

/*-------------firstpage-secondttable-updates--------------*/
.firstpage-secondtable-updates h4 {
  text-decoration: none;
  font-family: 'Gelasio', serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #000;
  text-transform: uppercase; }

.firstpage-secondtable-updates h4 span {
  color: #46B027; }

.firstpage-secondtable-updates table {
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 5px;
  background-color: #FFF;
  color: #000;
  font-family: 'Gelasio', serif;
  box-shadow: 0px 5px 15px #d6d0d0; }
  .firstpage-secondtable-updates table td, .firstpage-secondtable-updates table th {
    border: none !important; }

.firstpage-secondtable-updates {
  padding-left: 85px;
  padding-right: 15px; }

/*---------------firstpage-thirdtable-updates--------------*/
.firstpage-thirdtable-updates h4 {
  text-decoration: none;
  font-family: 'Gelasio', serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000;
  text-transform: uppercase; }

.firstpage-thirdtable-updates h4 span {
  color: #46B027; }

.firstpage-thirdtable-updates table {
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 12px;
  border-radius: 5px;
  background-color: #FFF;
  color: #000;
  font-family: 'Gelasio', serif;
  box-shadow: 0px 5px 15px #d6d0d0; }
  .firstpage-thirdtable-updates table td, .firstpage-thirdtable-updates table th {
    border: none !important; }

.firstpage-thirdtable-updates {
  padding-left: 85px;
  padding-right: 15px; }
