/* font-family: 'Gelasio', serif; */
$background-color-1:#000;
$background-color-2:#FFF;
$background-color-3:#46B027;
$background-color-4:#363435;
$background-color-5:#EEEEEE;
$color-1:#000;
$color-2:#FFF;
$color-3:#46B027;
$color-4:#363435;
$color-5:#e6e6e6;

html ,body {
    width: 100%;
    height: auto;
    background-color: $background-color-2;
 /* Top navbar style*/

    .navbar{
      position: fixed;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      border-radius: 0;
      // box-shadow: 0 4px 6px rgba(0, 0, 0, .2),0 4px 4px rgba(0, 0, 0, .14),0 4px 2px -2px rgba(0, 0, 0, .12);
      // box-shadow:.5em .5em 1em rgb(94, 92, 92);
      // box-shadow:0.2em 0.2em 0.7em #000; //, inset 0 0 0.7em #b5e1ff;
      // box-shadow:0px 5px 15px #e6e6e6;
      box-shadow: 0 5px 5px -1px #e6e6e6;
      z-index: 999;
      background-color: $background-color-2;
      height: 70px;
      .menu-toggle {
        line-height: 0;
        .menu-toggle-icon {
          font-size: 1.5rem;
          line-height: 1.5rem;
          padding: 1rem;
          // border-right: 1px solid #000;
          color:$color-2;
          background-color:$background-color-4;
          font-weight: 2000;
        }
      }
      .navbar-brand img {
        width: 200px;
        height: 50px;
        margin-right: 200px;
      }
      .dashboard-menu a{
          text-decoration: none;
          color: $color-1;
          padding: 0.2rem;
          text-transform: uppercase;
          font-size:14px;
          font-weight: 700;
          position: relative;
          display: inline-block;
          font-family: 'Gelasio', serif;
      }
      // .dashboard-menu a:hover{color: #46B027;}
      // .dashboard-menu a::after{position:absolute; transition: all .7s; bottom: 0;left: 0; right: 0; margin: auto; width: 0%;content: '';color:transparent;background: #000;height: 1px;}
      // .dashboard-menu a:hover:after {width: 100%;}
    }
    .top-navbar-icon a{
          color: $color-1;
          padding: 0.5rem;
          font-size:24px;
          position: relative;
          display: inline-block;
          input{
           border:0.4px solid $color-5;
           width:150px;
           height:35px;
           border-radius:5px;
           overflow: hidden;
           font-size: 16px;
           color: $color-5;
           background-color: $color-2;
           padding: 0.5rem;  
           i{
             float:right;
           &:hover{
             color:$color-3;
        }}
    }}
    /* side bar style*/
    .container-fluid {
      height: 100%;
      width:100%;
      .fixed-nav {
        height:100%;
        .fixed-nav-inner {
          display: inline-flex;
          flex-direction: column;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background-color:$background-color-2;
          // border-right: 1px solid #000;
          flex: 1;
          z-index: 99;
          // box-shadow:0em 0em 0.8em  #e6e6e6;//, inset 0 0 0.7em #b5e1ff;
          // box-shadow: 0px 10px 30px #e6e6e6;
          box-shadow: 7px 0 7px -2.5px #e6e6e6;
          ul {
            list-style-type: none;
            padding: 0;
            a{
              text-decoration:none;
              color:$color-1;
              display: flex;
              align-items:center;
              font-weight:400;
              text-transform: uppercase;
              font-family: 'Gelasio', serif;
              &:before {
                content: "";
                opacity: 0;
                width: 0.175rem;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: fixed;
              }
              &:hover {
                background-color: lighten(#000, 12.5%);
                transition: all 0.4s;
                box-shadow: outset 0 1px 3px rgba(0, 0, 0, .1),
                  outset 0 1px 1px rgba(0, 0, 0, .04),
                  outset 0 2px 1px -1px rgba(0, 0, 0, .02);
                  color: $color-2;
                &:before {
                  opacity: 1;
                  visibility: visible;
                }
              }
              li {
                padding: 0.25rem 1rem;
                i {
                  font-size: 1.5rem;
                  line-height: 2.8rem;
                }
                &:nth-child(2n) {
                  font-size: 1rem;
                  padding: 0;
                  margin-left: 0;
                  letter-spacing: 0.05rem;
                  width: 0px;
                  text-align: left;
                  opacity: 0;
                  transition: 0.25s ease-in-out width, 0.25s linear transform;
                  transform: translateX(2rem);
                }
              }
            }
          }
          &.open-nav {
            li {
              &:nth-child(2n) {
                margin: 0;
                padding: 0.25rem 1rem;
                letter-spacing: 0.025rem;
                width: 8.5rem;
                opacity: 1;
                transform: translateX(0.75rem);
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  /* dropdown-menu-space */
  section .dropdown-menu-space{
      width: 100%;
      height: 170px;
      margin-top: 70px;
      box-shadow: 0px 5px 5px -1px #e6e6e6;   
      padding-left: 100px;
      // padding-right: 15px;
      padding-top: 5px;
  }
  .info-box.info-box-sm {
    min-height: 100px;
    margin-top: 25px;
    font-size: 15px;
    display: inline-flex;
    box-shadow: 0px 5px 15px #d6d0d0;
    
  }
  
  .info-box.info-box-sm .info-box-icon {
    height: 100px;
    font-size: 50px;
    line-height: 50px;
  }
  
  .info-box .info-box-sm .info-box-content {
    height: 100px;
  }
  
  .info-box .info-box-content .info-box-text {
    padding:20px;
    font-size: 18px!important;
    text-transform:uppercase;
    font-weight: 600;
    
  }
  
  .info-box .info-box-content .info-box-number {
    font-size: 16px!important;
    display:flex;  
    margin-left: 30px;
  }
  
  .info-box.info-box-sm.dropdown {
    float: left;
    height: 100px;
  }
  
  .info-box.info-box-sm.dropdown .info-box-icon {
    background: $background-color-3;
    display: inline-flex;
    padding:20px;
    color:$color-2
  }
  
  .info-box.info-box-sm.dropdown .info-box-content {
    width:215px;
    background: $background-color-2;
    float: left;
    padding-top: 30px;
    color: $color-1;
  } 
/*----------------------------------------*/ 

  section .fixed-menu{
    
    width: 100%;
    // height: 5vh;
    // border-bottom: 0.5px solid#000;
    background-color: $background-color-2;
    background: cover; 
    box-shadow: 0 5px 5px -1px #e6e6e6;
    margin-top:20px;
   ul {
    padding-left:100px;
    li{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-family: 'Gelasio', serif;
      color: $color-4;
      font-weight: 200;

    }
   }
  }
/*-------------first table upadates style---------------*/ 
.firstpage-firsttable-updates{
padding-left: 85px;
padding-right: 15px;
text-decoration: none;
h4{
    text-decoration: none;
    font-family: 'Gelasio', serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color:$color-1;
    text-transform: uppercase;
}}
.firstpage-firsttable-updates h4 span{color: #46B027;}
.firstpage-firsttable-updates table{
  font-weight: 600;
  width: 100%;
  text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 12px;
   border-radius: 5px;
   overflow: hidden;
   background-color:$background-color-2;
   color:$color-1;
   font-family: 'Gelasio', serif;
  //  box-shadow:0.5em 0.5em 1em #363435;
  box-shadow: 0px 5px 15px #d6d0d0;
  td, th{
    border: none !important;
  }
}


/*-------------firstpage-secondttable-updates--------------*/ 
.firstpage-secondtable-updates h4{
  text-decoration: none;
  font-family: 'Gelasio', serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: $color-1;
  text-transform: uppercase;
}
.firstpage-secondtable-updates h4 span{color: #46B027;}
.firstpage-secondtable-updates table{
  font-weight: 600;
  text-align: center;
   text-decoration: none;
   overflow: hidden;
   text-transform: uppercase;
   font-size: 12px;
   border-radius: 5px;
   background-color:$background-color-2;
   color: $background-color-1;
   font-family: 'Gelasio', serif;
  //  box-shadow:0.5em 0.5em 1em #363435;
  // box-shadow: 0px 5px 15px #d6d0d0;
  box-shadow: 0px 5px 15px #d6d0d0;
  td, th{
    border: none !important;
  }
}
.firstpage-secondtable-updates{padding-left: 85px;
  padding-right: 15px;}
/*---------------firstpage-thirdtable-updates--------------*/ 
.firstpage-thirdtable-updates h4{
  text-decoration: none;
  font-family: 'Gelasio', serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color:$color-1;
  text-transform: uppercase;
}
.firstpage-thirdtable-updates h4 span{color: #46B027;}
.firstpage-thirdtable-updates table{
  font-weight: 600;
  text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   font-size: 12px;
   border-radius:5px;
   background-color:$background-color-2 ;
   color: $color-1;
   font-family: 'Gelasio', serif;
  //  box-shadow:0.5em 0.5em 1em #363435;
  // box-shadow: 0px 5px 15px #d6d0d0;
  box-shadow: 0px 5px 15px #d6d0d0;
  td, th{
    border: none !important;
  }
}
.firstpage-thirdtable-updates{padding-left: 85px;
  padding-right: 15px;}

  